 <div class="col-md-4">
  <img src="http://fc09.deviantart.net/fs71/f/2010/128/8/4/84e41dc8cec4d2f388ca9c1a96d4de46.jpg" class="img-responsive">
 </div>

 <div class="col-md-4">

 <h1 class="text-center">King's Cup</h1>

  <form ng-submit="startGame()">
    <input class="btn btn-success btn-lg" type="submit" value="Start Game" />
  </form>


 </div>

 <div class="col-md-4 cardface">
 <img src="http://3.bp.blogspot.com/-Dozqrh0Fkkk/TXC2qqQy39I/AAAAAAAADnU/nESieUfOU9Y/s1600/ace_of_spades.png" class="img-responsive">
 </div>
<!-- 

 in the deck key rule
 string rule

 jquery on click pop out -->