 <a ng-click="nextCard()">next card</a>



<!-- {{ currentUsers }} -->

<div class="col-md-4">
	<ul ng-repeat="user in users">
		<li>{{ user.username }}</li>
	</ul>

	<form ng-submit="joinGame()">
		<input type="text" ng-model="user.username" placeholder="enter username"/>
		<input type="submit" value="join game"/>
	</form>
</div>


<div class="col-md-8">
 <div class="turn-container">
  <div class="player-container">
    <h3>{{ currentPlayer.username }}</h3>
  </div>
 	<div class="card-container">
 		<div class="suit">
 			{{ currentCard.suit }}
 		</div>
 		<div class="value">
 			{{ currentCard.value }}
 		</div>
 	</div>
</div>

<!-- {{ currentCard.suit }}
{{ currentCard.value }} -->

</div>


{{ games }}dfafdsa

