<div class="play-bg">
	<div class="container">
		<div class="row" id="middle">

			<div class="card-container col-md-6">
				<div ng-hide="gameOver">
					<h1>Game Over!</h1>
					<button class="btn btn-primary" ng-click="startGame()">New Game</button>
				</div>

				<div ng-show="gameOver">
					<div ng-show="gameReady" class="topheight">
						<h2>Add Players and Click Begin!</h2>
						<button class="btn btn-primary" ng-click="beginRound()">Begin</button>
					</div>
				  <div ng-hide="gameReady" class="topheight">
				  	<h4 ng-show="firstTurn">Draw the first card {{currentUser.username}}!</h4>
				    <h2 ng-show="gameStarted" class="player-turn">{{ currentUser.username }}'s card!</h2>
				    <button class="btn btn-primary" ng-click="nextCard()">Draw a Card</button>
				    <button class="btn btn-info rule-button">Show Rule</button>
				  </div>
			  </div>

			  <div ng-repeat="card in myDeck | limitTo:quantity">
			  	<div class="rule">
			  		<p class="lead">{{card.rule}}</p>
			  	</div>
			    <div class="chosenCard">
			      <img class="img-responsive" src="{{card.pic}}">
			    </div>
			  </div>			


			</div>

			<div class="col-md-6">
			    <div class="topheight">
			    <h2>Players</h2>

			    <form ng-submit="addUser()">
			      <input class = "form-control" type="text" ng-model="user.username" placeholder="Enter Name..."/>
			      <input class="btn btn-primary playerAdd" type="submit" value="Add Player"/>
			    </form>
			    </div>
			    
			    <ul ng-repeat="user in myUsers" class="list-unstyled">
			      <li><h4>{{user.username}}<small><a ng-click="removeUser(user)"> Remove Player</a><small></h4></li>
			    </ul>
			</div>

		</div>
	</div>
</div>