<div class="play-bg">
	<div class="container">
		<div class="row" id="middle">



			<div class="card-container col-md-6">
			  <div class="topheight">
			    <h2 class="player-turn">{{ currentUser.username }}'s turn!</h2>

			    <button class="btn btn-primary" ng-click="nextCard()">Draw a Card</button>
			    <button class="btn btn-info rule-button">Show Rule</button>
			
			  </div>

			  <div ng-repeat="card in myDeck | limitTo:quantity">
			  	<div class="rule">
			  		<p class="lead">{{card.rule}}</p>
			  	</div>
			    <div class="chosenCard">
			      <img class="img-responsive" src="{{card.pic}}">
			    </div>
			  </div>			


			</div>

			<div class="col-md-6">
			    <div class="topheight">
			    <h2>Players</h2>

			    <form ng-submit="addUser()">
			      <input class = "form-control" type="text" ng-model="user.username" placeholder="Enter Name..."/>
			      <input class="btn btn-primary playerAdd" type="submit" value="Add Player"/>
			    </form>
			    </div>
			    
			    <ul ng-repeat="user in myUsers" class="list-unstyled">
			      <li><h4>{{ user.username}}</h4></li>
			    </ul>

			</div>

		</div>
	</div>
</div>