

<div class="col-md-3 text-center">
  <h4>Rules</h4>
  <button class="btn btn-info">Show Rule</button>
    <div ng-repeat="card in myDeck | limitTo:quantity">
      <p>{{card.rule}}</p>
    </div>
</div>


<div class="col-md-6 text-center">
  <h4>Cards</h4>
    <p>It's {{ currentUser.username }}'s turn!</p>

    <p>
      <button class="btn btn-primary" ng-click="nextCard()">Draw a Card</button>
    </p>

  <div ng-repeat="card in myDeck | limitTo:quantity">
    <div class="chosenCard">
    <p>{{ card.value }} of {{ card.suit }}</p><br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <p>{{ card.value }} of {{ card.suit }}</p><br>
    </div>
  </div>

</div>


<div class="col-md-3 text-center">
  <h4>Players</h4>

    <form ng-submit="addUser()">
      <input class = "form-control" type="text" ng-model="user.username" placeholder="Enter Name..."/>
      <input class="btn btn-primary playerAdd" type="submit" value="Add Player"/>
    </form>

    <ul ng-repeat="user in myUsers" class="list-unstyled">
      <li>{{ user.username}}</li>
    </ul>

</div>